@page "/playerstats"
@using Client.Models
@using System.Data
@using Client.DTOs
@inject HttpClient Http

<PageTitle>Player Stats</PageTitle>

<h1>Player Stats</h1>

<p>This component demonstrates players stats.</p>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    //buttons for diff types of stats
    //dont select goalkeepers for outfield stats and vice versa

    //fix average ratings

    <button type="button" @onclick="DisplayTotal">Total</button>
    <button type="button" @onclick="DisplayPerNinety">P90</button>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th @onclick="SortByGoals">Goals</th>
                <th @onclick="SortByAssists">Assists</th>
                <th @onclick="SortByMinutes">Minutes</th>
                <th>Passes Completed</th>
                <th>Touches</th>
                <th>Average Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.OverallStatsDto.Goals</td>
                    <td>@player.OverallStatsDto.GoalAssist</td>
                    <td>@player.OverallStatsDto.MinutesPlayed</td>
                    <td>@player.OverallStatsDto.AccuratePass</td>
                    <td>@player.OverallStatsDto.Touches</td>
                    <td>@player.OverallStatsDto.AverageRating</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<PlayerDto>? players;
    private bool isPerNinety;

    protected override async Task OnInitializedAsync()
    {
        players = await Http.GetFromJsonAsync<IEnumerable<PlayerDto>>("http://localhost:5247/api/Players/overall");
    }

    private void SortByGoals() => players = players.OrderByDescending(p => p.OverallStatsDto.Goals);
    private void SortByAssists() => players = players.OrderByDescending(p => p.OverallStatsDto.GoalAssist);
    private void SortByMinutes() => players = players.OrderByDescending(p => p.OverallStatsDto.MinutesPlayed);

    private void DisplayTotal()
    {
        if (!isPerNinety)
            return;

        isPerNinety = false;

        foreach (var player in players)
        {
            player.ConvertStatsToTotal();
        }
    }

    private void DisplayPerNinety()
    {
        if (isPerNinety)
            return;

        isPerNinety = true;

        foreach (var player in players)
        {
            player.ConvertStatsToPerNinety();
        }
    }
}
